

@{
    ViewData["Title"] = "GoBack";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<h2>Your Cart is Empty</h2>
<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Add Movie</a>