@model IEnumerable<UserProject1.Models.Locations>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<section class="jumbotron text-center">
    <img src="~/images/image (1).png" />
    <style type="text/css">
        body {
            background-image: url(https://img.freepik.com/free-photo/white-plain-wall-surface-background_53876-74688.jpg?size=626&ext=jpg);
        }
    </style>
    <div class="container">
        <br />
        <h1 class="jumbotron-heading">Movie Tickets, Events & Cinemas near Delhi</h1>
    </div>
</section>
&nbsp;
&nbsp;
&nbsp;
&nbsp;
<br />
<br>
@*<div class="row">
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img src="https://i.ndtvimg.com/i/2016-08/india-gate_650x400_41471874971.jpg" class="img-circle" alt="Cinque Terre" width="100%" height="300" card-img-top" />
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <p class="card-text" style="font-weight:bold;">DELHI</p>
                    &nbsp;
                    &nbsp;
                    <button type="button" class="btn btn-secondary">Book</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img src="https://pbs.twimg.com/media/DaRfut0XcAIUh7p.jpg" class="bd-placeholder-img" width="100%" height="300" card-img-top" />
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <p class="card-text" style="font-weight:bold;">MUMBAI</p>
                    &nbsp;
                    &nbsp;
                    <button type="button" class="btn btn-secondary">Book</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img src="https://c1.hiqcdn.com/photos/sh/shareiq--1464009968-946208-jpg-destreviewimages-720x512-1464009969-cropped.jpg" class="bd-placeholder-img" width="100%" height="300" card-img-top" />
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <p class="card-text" style="font-weight:bold;">PUNE</p>
                    &nbsp;
                    &nbsp;
                    <button type="button" class="btn btn-secondary">Book</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img src="https://i.pinimg.com/originals/10/01/0b/10010b7349bbf4acf162ac3589dc3868.jpg" class="bd-placeholder-img" width="100%" height="300" card-img-top" />
            <div class="card-body">

                <div class="d-flex justify-content-between align-items-center">
                    <p class="card-text" style="font-weight:bold;">KOLKATA</p>
                    &nbsp;
                    &nbsp;
                    <button type="button" class="btn btn-secondary">Book</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img src="https://farm5.static.flickr.com/4399/37372090841_c8dcdaea47_b.jpg" class="bd-placeholder-img" width="100%" height="300" card-img-top" />
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <p class="card-text" style="font-weight:bold;">BANGALORE</p>
                    &nbsp;
                    &nbsp;
                    <button type="button" class="btn btn-secondary">Book</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img src="https://i.pinimg.com/originals/b5/1d/08/b51d083f30ce5c0dac2f30d0dcc823b3.jpg" class="bd-placeholder-img" width="100%" height="300" card-img-top" />
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <p class="card-text" style="font-weight:bold;">HYDERABAD</p>
                    &nbsp;
                    &nbsp;
                    <button type="button" class="btn btn-secondary">Book</button>
                </div>
            </div>
        </div>
    </div>*@



<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="@item.LocationImage" class="bd-placeholder-img" width="100%" height="300" card-img-top" />

                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <p class="card-text" style="font-weight:bold;">@item.LocationName</p>
                                &nbsp;
                                &nbsp;

                                <a asp-controller="Multiplex" asp-action="Index" asp-route-id="@item.LocationId" type="button" class="btn btn-secondary">Select Location</a>

                            </div>

                        </div>
                    </div>
                </div>

            }

        </div>
    </div>
</div>
